<?xml version="1.0" encoding="UTF-8"?>
<suite name="TC-MV-Einbuchung Suite">
  <parameter name="browser" value = "chrome"></parameter>
  <test name="MV-Einbuchung" preserve-order = "false">
   
 	<classes>
      <class name="tests.MVBuchungAnnonymUsingExcel"/>
    </classes>
  
</test> <!-- Test -->
</suite> <!-- Suite -->
